.sidebar {
    position: fixed;
    height: 100%;
}

.sidebar-sticky {
  position: sticky;
  height: calc(100vh - 40px);
  overflow-x: hidden;
  overflow-y: auto; 
}

.sidebar .nav-link {
    color: #333;
}
.nav-link:hover {
    background: gray;
    color: white;
}
.d-flex {
    height: calc(100vh - 40px - 1rem);
}
#day1 {
    background: linear-gradient(gray,white) no-repeat;
}
kbd {
    background: transparent !important;
}
.key {
    border: 4px solid black;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.07s;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 5px black;
    color: white;
}
.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}
.key:hover {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}